/**
 * @name MacLike
 * @version 1.0.0
 * @description A theme borrowing MacOS design language. Part of the WAM project.
 * @author syrys
 */

@import url(https://raw.githubusercontent.com/syryz/MacLike-Discord/refs/heads/main/src/sidebar.css);
@import url(https://raw.githubusercontent.com/syryz/MacLike-Discord/refs/heads/main/src/window-buttons.css);
@import url(https://raw.githubusercontent.com/syryz/MacLike-Discord/refs/heads/main/src/tweaks.css);

/* Safari-like Header/Address Bar !!EXPERIMENTAL!! */
/* Comment out if unwanted */
@import url(https://raw.githubusercontent.com/syryz/MacLike-Discord/refs/heads/main/src/header.css);
/* Apple Emojis */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);

/* MAIN SETTINGS */
:root {
  --main-app-bg_light: rgba(238, 238, 238, 0.7);
  --main-app-bg_dark: rgba(36, 36, 36, 0.7);

  --window-button-style: 2; /* Recommended: 2 */
  --window-button-size: 13px;

  --enable-window-border: 1; /* Disable: 0 */

  --glass-opacity_active: 84%;
  --glass-opacity_inactive: 100%;
  --glass-blur-strength: 30px;
  --glass-blur-saturation: 200%;

  --maclike-version_checker: true;
  --maclike-version_current: "1.1.0"; /* DO NOT CHANGE */
}
