#app-mount {
  div[class^="subtitleContainer"] {
    position: absolute !important;
    width: 100% !important;
    > [aria-label="Channel header"] {
      height: auto !important;
      padding-top: calc(var(--custom-app-top-bar-height) + var(--space-8));
      /* background: color-mix(in oklab, var(--background-gradient-lower,var(--__header-bar-background)) 100%, transparent); */
      background: transparent;
      backdrop-filter: blur(var(--glass-blur-strength)) saturate(var(--glass-blur-saturation));
      &::before {
        content: "";
        position: absolute;
        height: 100vh;
        width: 100vw;
        bottom: 0;
        left: 0;
        background: var(--background-gradient-lower,var(--__header-bar-background));
        opacity: var(--glass-opacity);
      }
      div[class^="children"]::after {
        display: none;
      }
    }
  }
  div[class^="page_"] {
    --header-height: calc(var(--custom-channel-header-height) + var(--custom-app-top-bar-height));
    overflow: hidden;
    height: calc(100% + var(--custom-app-top-bar-height)) !important;
    translate: 0 calc(var(--custom-app-top-bar-height) * -1) !important;
    div[class^="messagesWrapper"] > div[class^="scroller"] {
      &::-webkit-scrollbar-track {
        margin-top: var(--header-height);
      }
      [class^="scrollerInner"] > [class^="container"] {
        margin-top: var(--header-height);
      }
    }
    [class^="membersWrap"] {
      > ::-webkit-scrollbar-track {
        margin-top: var(--header-height);
      }
      *:has(> [class^="membersGroup_"]) {
        padding-top: var(--header-height);
      }
    }
    [class^="searchResultsWrap"] {
      height: 100vh;
      > ::-webkit-scrollbar-track {
        margin-top: calc(2 * var(--header-height));
      }
      > [class^="searchHeader"] {
        margin-top: var(--header-height);
        background: var(--background-base-lower);
      }
      > [class*="scrollerBase"] {
        width: 100%;
        top: 0;
        position: absolute;
        height: inherit;
        padding-top: calc(2 * var(--header-height));
      }
    }
    .user-profile-sidebar {
      padding-top: var(--header-height);
      height: calc(100vh - var(--header-height));
    }
  }
}
