:root {
  --settings-header-height: 48px;
}

#app-mount > [class^="bar_"][class*="show_"] {
  max-width: min(100px, 80vw);
}
#app-mount > [class^="bar_"][class*="show_"] ~ [class^="appAsidePanelWrapper_"] {
  div[class^="app__"] {
    visibility: hidden;
  }
  div[data-mana-component="layer-modal"] {
    padding-top: 0 !important;
    min-width: 100vw;
    height: 100vh;
    background: transparent !important;
    [class^="container_"] {
      > [class^="sidebar_"] {
        margin-top: var(--custom-app-top-bar-height);
      }
      div[class^="contentHeader_"] {
        app-region: drag;
        > [data-mana-component="button"] {
          app-region: no-drag !important;
        }
      }
    }
    
    .fixedContent__409aa:after {
      display: none;
    }
  }
}
