:root {
  --background-scrim: transparent;
  --settings-header-height: 48px;
}
#app-mount:has(div[data-mana-component="layer-modal"]) div[class^="app_"]{
  display: none;
}
div[data-mana-component="layer-modal"] {
  width: 100vw;
  height: 100vh;
  background: transparent !important;
  [class^="container_"] {
    app-region: drag;
    > * {
      app-region: no-drag;
    }
    > [class^="sidebar_"] {
      margin-top: var(--custom-app-top-bar-height);
    }
    div[class^="contentHeader_"] {
      app-region: drag;
      > [data-mana-component="button"] {
        app-region: no-drag;
      }
    }
  }
  
  .fixedContent__409aa:after {
    display: none;
  }
}
